<% if order.line_items.collections.any? %>
<div class="panel panel-default">
  <div class="panel-heading no-borderb">
    <h1 class="panel-title"><%= order.number %> - Product Bundles</h1>
  </div>

  <table class="product-bundles table table-bordered" data-hook="product-collections-ordered">
    <colgroup>
      <col style="width: 10%;" />
      <col style="width: 30%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
    </colgroup>

    <thead>
      <th colspan="2"><%= Spree.t(:item_description) %></th>
      <th><%= Spree.t(:price) %></th>
      <th><%= Spree.t(:quantity) %></th>
      <th><%= Spree.t(:total) %></th>
    </thead>

    <% order.line_items.collections.each do |item| %>
      <tbody>
        <tr class="" data-item-quantity="<%= item.quantity %>">
          <td class="item-image"><%= mini_image(item.variant) %></td>
          <td class="item-name">
            <%= item.product.name %> - <%= item.variant.sku %> <br />
            <%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
          </td>
          <td class="item-price align-center">
            <%= item.single_money.to_html %>
          </td>
          <td class="line-item-qty-show align-center">
            <%= item.quantity %>
          </td>

          <td class="line-item-qty-edit hidden">
            <%= number_field_tag :quantity, item.quantity, :min => 0, class: "line_item_quantity", :size => 5 %>
          </td>

          <td class="item-total align-center">
            <%= item.display_amount.to_html %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<% end %>
