<div class="panel panel-default">
  <table class="index table table-bordered">
    <thead>
      <tr>
        <th><%= Spree.t(:item) %></th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:options) %></th>
        <th><%= Spree.t(:qty) %></th>
        <th><%= Spree.t(:actions_title) %></th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr id="<%= dom_id(item, :sel)%>">
          <td><%= mini_image(item) %></td>
          <td><%= item.product.name %></td>
          <td><%= variant_options(item) %></td>
          <td><%= text_field_tag :count, @product.count_of(item) %></td>
          <td class="actions">
            <%= image_tag 'spinner.gif', style: 'display:none', class: 'spinner' %>
            <%= link_to_with_icon 'save', Spree.t('actions.save'), set_count_admin_product_item_url(@product, item), class: 'set_count_admin_product_item_link save-line-item btn btn-success btn-sm', title: Spree.t('actions.save'), no_text: true %>
            <%= link_to_with_icon 'delete', Spree.t(:delete), remove_admin_product_item_url(@product, item), class: 'remove_admin_product_item_link delete-line-item btn btn-danger btn-sm', title: Spree.t(:delete), no_text: true %>
          </td>
        </tr>
      <% end %>
      <% if items.empty? %>
       <tr><td colspan="5"><%= Spree.t(:none) %>.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= javascript_tag("subscribe_product_item_links();") if request.xhr? %>
