<%= render :partial => 'spree/admin/shared/sub_menu/product' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Items"} %>
<div id="product_items" data-hook="items-in-collection">
  <%= render :partial => "items_table", :locals => {:items => @items} %>
</div>

<%= form_tag '#', class: 'form-inline' do %>
  <div class="form-group">
    <label><%= Spree.t(:search) %>:</label>
    <input id="searchtext", class="form-control">
  </div>
  <button id="search_items_button" class="btn btn-primary" name="button">Search</button>
<% end %>

<br/>
<div id="search_hits"></div>
<%= javascript_tag do %>
  /*!
   * Spree Product Assembly
   * https://github.com/spree/spree-product-assembly
   *
   */

  function search_for_items(){
    $.ajax({
     data: {q: $("#searchtext").val() },
     dataType: 'html',
     success: function(request){
       jQuery('#search_hits').html(request);
       $('#search_hits').show();
     },
     type: 'POST',
     url: '<%= available_admin_product_items_url(@product) %>'
    });
  }

  $("#searchtext").keypress(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
      search_for_items();
      return false;
    } else {
       return true;
    }
  });

  $("#search_items_button").click(function(e) {
    e.preventDefault();
    search_for_items();
  });

  function subscribe_product_item_links()
  {
    $("a.set_count_admin_product_item_link").click(function(){
      params = { count :  $("input", $(this).parent().parent()).val() };
      return make_post_request($(this), params);
    });

    $("a.remove_admin_product_item_link").click(function(){
      return make_post_request($(this), {});
    });
  }

  function make_post_request(link, post_params)
  {
    spinner = $("img.spinner", link.parent())
    spinner.show();
    $.post(link.attr("href"), post_params,
      function (data, textStatus) { spinner.hide(); },
      "script");

    return false;
  }

  subscribe_product_item_links();
<% end -%>
